<%= form_with(model: information, local: true) do |form| %>
  <% if information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(information.errors.count, "error") %> prohibited this information from being saved:</h2>

      <ul>
      <% information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :information_name %>
  </div>

  <div class="field">
    <%= form.label :idnum %>
    <%= form.number_field :idnum, id: :information_idnum %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone, id: :information_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :information_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
